*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.gallery img{
    width: 100%;
}
.card{
	color: white;
	width:100%;
	height:100vh;
	width:100vw;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),
	url("https://img.freepik.com/free-vector/abstract-watercolor-background_23-2149050921.jpghttps://img.freepik.com/free-vector/abstract-watercolor-background_23-2149050921.jpg");
	background-size:cover;	
	background-position:center;
}